:root {
  /* Light Theme Colors */
  --background-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #697375;
  --svg-stroke-color: #000000;
  --svg-stroke-secondary-color: #697375;
}

/* Dark Theme Override */
body.dark-theme {
  --background-color: #121212;
  --text-color: #d0d0d0;
  --text-secondary-color: #969d9e;
  --svg-stroke-color: #d0d0d0;
  --svg-stroke-secondary-color: #969d9e;
}

body {
  margin: 0;
  padding: 32px;
  font-family: "Courier Prime", monospace;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  line-height: 1.5rem;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

button:hover {
  color: var(--text-secondary-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--text-secondary-color);
}

svg {
  stroke: var(--svg-stroke-color);
}

svg:hover {
  stroke: var(--svg-stroke-secondary-color);
}

.secondary-text {
  color: var(--text-secondary-color);
}

#main-container {
  margin-top: 15vh;
  padding: 16px;
  display: flex;
  gap: 64px;
}

.list {
  margin: 32px 0 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.contact-item {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: small;
}

.contact-item:hover {
  text-decoration: underline;
}

.contact-icon {
  width: 36px;
  height: 36px;
}

#main-content {
  padding: 0 16px 16px 16px;
  width: 768px;
  max-width: 100%;
}

#navbar {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.underline {
  text-decoration: underline;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

#navbar button {
  padding: 8px;
}

#profile-img {
  width: 256px;
  height: 256px;
  border-radius: 8px;
  background-image: url("./images/ranpo/ranpo-1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.company {
  color: #c57d43;
}

.journal-nav {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.journal-date {
  font-weight: bold;
  color: #438bc5;
}

.bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #main-container {
    margin-top: 0;
    flex-direction: column;
  }

  #main-content {
    padding: 16px 16px 16px 0;
  }

  .journal-nav {
    justify-content: center;
    text-align: center;
  }
}
