html,
body {
  height: 100%;
}

main {
  height: 90%;
}

body {
  background-image: url("images/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont;
  overflow: hidden;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#login-date-time {
  padding: 48px;
  color: #c8a0ff;
}

#login-date {
  font-size: 28px;
  font-weight: 600;
}

#login-time {
  font-size: 128px;
  font-weight: 500;
}

#profile-icon {
  width: 64px;
  height: 64px;
  background-image: url("images/profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 100%;
}

#username {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

#password-container {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #716496;
  padding: 5px 1px 5px 16px;
  border-radius: 20px;
}

#password {
  max-width: 140px;
  height: 16px;
  background-color: transparent;
  border: 0;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  font-size: 28px;
  transform: translateY(1px);
}

#password::placeholder {
  transform: translateY(-5px);
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: normal;
  font-size: 14px;
}

.space-between {
  justify-content: space-between;
}

#login-field {
  justify-content: end;
  padding: 24px;
  gap: 16px;
}

#enter-password-icon {
  width: 28px;
  height: 28px;
  background-image: url("icons/circle-arrow-right.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  visibility: hidden;
}

#main-page {
  display: none;
}
