html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

.timeline {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.event {
  width: 96px;
  height: 96px;
  position: relative;
  background-color: white;
  margin-left: 500px;
  flex-shrink: 0;
}

.event:first-of-type {
  margin-left: 0;
}

.connector {
  position: absolute;
  height: 2px;
  background-color: black;
  z-index: -1;
}

.icon {
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 72px;
  border: 12px solid;
}

.work {
  border-color: #c57d43;
}

.project {
  border-color: #438bc5;
}

.skatescribe {
  background-image: url("./images/skatescribe.png");
}

.caseware {
  background-image: url("./images/caseware.png");
}

.sddh {
  background-image: url("./images/sddh.png");
}

.asteroids {
  background-image: url("./images/asteroids.png");
  background-size: 48px;
}

.ecosquad {
  background-image: url("./images/ecosquad.png");
  background-size: 64px;
}